html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: rgb(109, 40, 40);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------------RESET CSS- -------------------------------------------*/

@font-face{  /*declarar la fuente que descargue*/
	font-family: 'naruto';
	src: url(../FONT/naruto/njnaruto.ttf);
	   
}

body{
    font-family: 'naruto';
    
}
p{  
    width: 58%;
    height: auto;
    margin-left: 5%;
    /*background-color: aqua;*/
    letter-spacing: 5px;
    font-size: 45px;
    color: white;
}

.katon{
    width: 38%;
    height: auto;
    margin-left: 5%;
    /*background-color: blue;*/
    letter-spacing: 5px;
    font-size: 18px;
    color: white;
}
.main{
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    min-width: 560px;
    height: 500px;
    border-radius: 4px;
    background-image: url(../IMAGE/kakashi2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.letter{
    position: relative;
    top: 75%;
    width: 100%;
    height: 100px;
    /*background-color: rgba(255, 0, 0, 0.37);*/
}

.container{
    margin: auto;
    width: 70%;
    min-width: 560px;
    height: auto;
    padding-bottom: 50px;
    background-color:#b2b1b6b4
}

.one{
    display: flex;
    width: 95%; 
    height: auto;
    margin: auto;
    position: relative;
    top: 25px;
    /*background-color: blue;*/
}

.madara ,.minato ,.guy{
    margin: auto;
    width: 26%;
    height: 350px;
    border-radius: 85px;
    background-color: rgba(245, 245, 245, 0.685); 
}
.caja{
    margin: auto;
    width: 200px;
    height: 200px;
    /* width: 90%;
    height: 48%;*/
}
.mad{
    width: 70%;
    margin: auto;
    height: auto;
    margin-bottom: 120px;
    font-family: sans-serif, Arial, Helvetica;
    line-height: 18px; 
    text-align: center;
    font-size: 95%;
    color: black;
    /*background-color: blueviolet;*/
}
#mad2:hover{
    color: white;
}
.madara:hover {
    width: 26%;
    transition: 2.2s;
    border-radius: 25px;
    background-color: rgba(114, 55, 55, 0.685); 
    color: white;
}

.minato:hover{
    transition: 2.2s;
    width: 26%;
    border-radius: 25px;
    background-color: rgba(231, 231, 140, 0.856);
}

.guy:hover{
    transition: 2.2s;
    width: 26%; 
    border-radius: 25px;
    background-color: rgba(147, 216, 213, 0.521);    
}

.img1 {
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 100%;
    background-image: url(../IMAGE/madara2.jpg);
    background-size: cover;
    background-position: center;
}

.img2 {
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 100%;
    background-image: url(../IMAGE/minato.jpg);
    background-size: cover;
    background-position: center;
}

.img3 {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 0px;
    border-radius: 100%;
    background-image: url(../IMAGE/guy.jpg);
    background-size: cover;
    background-position: center;
}

.img1:hover{
    width: 100%;
    height: 100%;
    transition: 1.0s;
    background-image: url(../IMAGE/madara.gif);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.img2:hover{
    width: 100%;
    height: 100%;
    transition: 1.0s;
    background-image: url(../IMAGE/minato.gif);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
  }
  
  .img3:hover{
    width: 100%;
    height: 100%;
    transition: 1.0s;
    background-image: url(../IMAGE/Guy.gif);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
  }
  
.container2{
    margin: auto;
    width: 70%;
    min-width: 560px;
    height:600px;
    background-image: url(../IMAGE/naruto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /*background-color: rgb(15, 15, 15);*/
}

.txt{
    position: relative;
    top: 30%;
    width: 50%;
    height: auto;
}

.txt1{
    width: 100%;
    color: white;
}