html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------------RESET CSS- -------------------------------------------*/

@font-face{  /*declarar la fuente que descargue*/
	font-family: 'naruto';
	src: url(../FONT/naruto/njnaruto.ttf);
	   
}

body{
    font-family: 'naruto';
    background-color: #82818786;
}
p{  
    width: 58%;
    height: auto;
    margin-left: 5%;
    /*background-color: aqua;*/
    letter-spacing: 5px;
    font-size: 45px;
    color: white;
}

.katon{
    width: 38%;
    height: auto;
    margin-left: 5%;
    /*background-color: blue;*/
    letter-spacing: 5px;
    font-size: 18px;
    color: white;
}
.main{
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    height: 500px;
    border-radius: 4px;
    background-image: url(../IMAGE/kakashi2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.letter{
    position: relative;
    top: 80%;
    width: 100%;
    height: 100px;
    /*background-color: rgba(255, 0, 0, 0.37);*/
}

.container{
    margin: auto;
    width: 70%;
    height: auto;
    padding-bottom: 50px;
    background-color:whitesmoke;
}

.one{
    display: flex;
    width: 95%; 
    height: auto;
    margin: auto;
    position: relative;
    top: 25px;
    /*background-color: blue;*/
}

.madara{
    margin: auto;
    margin-top: 0px;
    width: 200px;
    height: 400px;
    border-radius: 25px;
    background-color: white; 
}

.mad{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    color: black;
}

.madara:hover {
    width: 210px;
    height: 400px;
    border-radius: 25px;
    background-color: rgba(136, 92, 92, 0.521); 
    color: white;
}

.minato{
    width: 200px;
    height: 400px;
    margin: auto;
    margin-top: 25%;
    border-radius: 25px; 
    background-color: white;
}

.minato:hover{
    width: 210px;
    background-color: rgb(231, 231, 140);
}

.min {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    color: black;
}

.guy{
    width: 200px;
    height: 400px;
    margin: auto;
    margin-top: 0px;
    border-radius: 25px; 
    background-color: white;
}

.guy:hover{
    width: 210px; 
    background-color: rgba(147, 216, 213, 0.918);    
}


.gu{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    color: black;
}

.img1 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(../IMAGE/madara2.jpg);
    background-size: cover;
    background-position: center;
}

.img2 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(../IMAGE/minato.jpg);
    background-size: cover;
    background-position: center;
}

.img3 {
    margin: auto;
    margin-top: 0px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: url(../IMAGE/guy.jpg);
    background-size: cover;
    background-position: center;
}

.img1:hover{
  background-image: url(../IMAGE/madara.gif);
  background-size: cover;
  background-position: center;
  width: 210px;
  height: 210px;
  border-radius: 100%;
}

.img2:hover{
    background-image: url(../IMAGE/minato.gif);
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 210px;
    border-radius: 100%;
  }
  
  .img3:hover{
    background-image: url(../IMAGE/Guy.gif);
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 210px;
    border-radius: 100%;
  }
  